:root{    /* setting the color variable */
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

*{ /* resetting the default value */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.header p{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

@media (max-width : 500px){

    .header{
        padding: 10px;
    }
    .header li span{
        display: none;
    }

    .header li a{
        font-size: 22px;
        gap: 16px;
    }
}

